<div class="container">
<div class="break-out">
	<div class="banner bg-dark">
		<div class="container text-light">
			<h1><strong>Seabreeze</strong> - your private <strong>boat</strong> sharing platform!</h1>
		</div>
	</div>
</div>
<br>

<div class="container-fluid">
	<!-- <div class="container" style="padding: 0px;"> -->
	  <h1>All boats</h1>
	  <%= render "shared/boatSearch" %>
	  <div class="row">
		<% @boats.each do |boat| %>
		  <div class="col-lg-4 col-md-6 mb-4">
			<div class="card h-100">
				<%= link_to(boat) do %>
			  <img src="https://d18mr9iuob0gar.cloudfront.net/media/boats/2022/06/rental-Motor-boat-bPRINCESS-55feet-bZakynthos-bGR_DIGr3Pi.jpg" class="card-img-top"/>
			  <div class="card-body">
				<h2 class="card-title"><strong><%= boat.title %></strong></h2>
				<p class="card-text">Zürich port</p>
				<br>
				<div style="display: flex; justify-content: space-between;">
				  <div>
					<p class="card-text">15 persons</p>
				  </div>
				  <div>
					<p class="card-text">from <%= boat.price_per_day %> CHF per day</p>
				  </div>
				</div>
			  </div>
			  <% end %>
			</div>
		  </div>
		<% end %>
	  </div>
	</div>
  </div>
